header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  background-color: #000000;
  color: #FFFFFF;
}

.Banner {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-left: 30px;
  background-color: #000000;
  color: rgb(63, 160, 63);
  text-align: left;
}

.NavigationPanel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  margin-right: 20px;
}

.Banner,
.NavigationPanel {
  max-width: 325px;
}

.error {
  /* display: none; */
  margin-top: 10px;
  padding: 0.5em;
  border-radius: 10px;
  border-top-left-radius: 0;

  /* background-color: #D0D0D0; */

  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
  color: #F51717;
  font-size: 90%;
  font-weight: 900;
  text-align: center;
  text-shadow: #000000;
}

.AppName {
  /* color: #5C7835; */
  color: rgb(173, 255, 47);
}

#logout-button {
  padding: 7px 14px;
  border: none;
  border-radius: 10px;
  background-color: rgb(173, 255, 47);

  /* box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
  color: #000000;
  font-size: 100%;
  font-weight: 900;
  text-decoration: none;
}

#login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  width: 50%;
  max-width: 375px;
  margin: auto;
  padding: 30px;
  padding-top: 20px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 20px 80px 0 rgba(0, 0, 0, 0.19);
}

#login-form {
  width: 100%;
}

#usernameInput {
  box-sizing: border-box;
  width: inherit;
  height: 35px;
  max-height: 45px;
  border-width: thin;
  border-color: #E3E3E3;
  outline: none;
  background-color: #FFFFFF;
  text-decoration: none;
}

#login-button-container {
  display: flex;
  justify-content: left;
  padding-top: 1em;
}

#login-button {
  margin-right: 0;
  margin-left: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  background-color: #9003F4;
  color: #FFFFFF;
  font-weight: 900;
  text-align: center;
}

#user-greeting {
  font-size: 15px;
  font-weight: 900;
}
