.productListContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10em;
  background-color: #FFFFFF;
}

ul.productList {
  display: block;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

li.product {
  width: 33.3333%;
  float: left;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1300px) {
  .productListContainer {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  li.product {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  li.product {
    width: 100%;
  }
}
